body {
    background-color:black;
    color:purple;
}

p {
    font-family: verdana;
    font-size: 20px;
}

.mainLeftBar {
    align-items: center;
    float: left;
}

.mainLeftBar > h1 {
    font-family: Tahoma;
    font-weight: bold;
}

.mainLeftBar > a {
    font-family: 'Gill Sans';
    font-weight: lighter;
}

.previewRightBar {
    float: right;
}